<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card xs12 md6 lg3 v-for="student in students" :key="student.id">
        <v-card color="blue-grey darken-2" class="white--text">
          <v-card-title primary-title>
            <div>
              <div class="headline">{{student.name}}</div>
              <span></span>
            </div>
          </v-card-title>
          <v-card-actions>
            <ClassBadge :className="student.className"/>
            <v-spacer></v-spacer>
            <v-btn flat dark :to="'/students/' + student.id">View details</v-btn>
          </v-card-actions>
        </v-card>
      </v-card>
    </v-flex>
  </v-layout>
</template>



<script>
import axios from 'axios'
import ClassBadge from '~/components/ClassBadge'

export default {
  async asyncData({ params }) {
    let { data } = await axios.get(`/api/v1/students`)
    return { students: data.students }
  },
  components: {
    ClassBadge
  }
}
</script>
