<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card color="blue-grey darken-2" class="white--text">
          <v-card-title primary-title>
            <div>
              <div class="headline">{{student.name}}</div>
              <span></span>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat dark>View details</v-btn>
          </v-card-actions>
        </v-card>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData({ params }) {
    let { data } = await axios.get(`/api/v1/students/${params.id}`)
    return { student: data.student }
  }
}
</script>
