<template>
  <div>
    <v-btn :color="name != 'n/a' ? name.toLowerCase():'purple'">{{name}}
    </v-btn>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: ['className'],
  data() {
    return {
      name: 'n/a'
    }
  },
  async mounted() {
    const { data } = await axios.get(`/api/v1/classes/${this.className}`)
    this.name = data.classes ? data.classes.name : 'n/a'
  }
}
</script>

<style scoped>
  v-btn {
    color: white
  }
</style>
