<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card-title class="headline blue darken-1">Present: {{students.length}}</v-card-title>
      <v-list>
        <v-list-tile color="blue darken-2" dark v-for="student in students" :key="student.id">
          <v-list-tile-content>
            <v-list-tile-title dark>{{student.name}}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn
              color="red darken-3"
              v-model="student.id"
              @click="$emit('removeStudent', student.id)"
            >
              <v-icon>remove</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'StudentList',
  props: ['students']
}
</script>
