<template>
  <div>
    <v-toolbar fixed app>
      <v-toolbar-title v-text="title"/>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn to="/attendance">Attendance</v-btn>
        <v-btn to="/students">Students</v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>
<script>
export default {
  props: ['title'],
  name: 'TheHeader'
}
</script>
