<template>
  <v-app>
    <TheHeader :title="title"/>
    <v-content>
      <v-container>
            <nuxt/>
      </v-container>
    </v-content>
    <TheFooter :fixed="fixed"/>
  </v-app>
</template>

<script>
import TheHeader from '~/components/TheHeader'
import TheFooter from '~/components/TheFooter'

export default {
  data() {
    return {
      fixed: false,
      title: 'Open Door ESL'
    }
  },
  components: {
    TheHeader,
    TheFooter
  }
}
</script>
