<template>
  <v-layout row wrap>
    <v-flex xs12 md6>
      <v-card>
        <v-card-title primary-title>
          <div>
            <div class="headline">Attendance <v-chip text-color="white" color="primary">{{history.length}} Weeks</v-chip></div>
          </div>
        </v-card-title>
        <area-chart :data="history"></area-chart>
        <v-spacer></v-spacer>
      </v-card>
    </v-flex>
    <v-flex xs12 md6>
      <v-card>
        <v-card-title primary-title>
          <div>
            <div class="headline">Home Countries <v-chip text-color="white" color="primary">{{geo.length}} Countries Represented</v-chip></div>
          </div>
        </v-card-title>
        <geo-chart :data="geo" :colors="['#00f', '#0f0']"></geo-chart>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card>
        <v-card-title primary-title>
          <div>
            <div class="headline">
              <v-chip text-color="white" color="primary">Students {{students.length}}</v-chip>
            </div>
          </div>
        </v-card-title>
        <v-data-table :headers="headers" :items="students" class="elevation-1">
          <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.country || 'unknown' }}</td>
            <td>{{ props.item.email }}</td>
            <td>{{ props.item.phone }}</td>
            <td>{{ props.item.joinDate }}</td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData({ params }) {
    let { data } = await axios.get(`/api/v1/attendance`)
    const history = data.records.map(r => {
      return [r.date, r.students && r.students.length ? r.students.length : 0]
    })
    const studentResponse = await axios.get(`/api/v1/students`)
    const classResponse = await axios.get(`/api/v1/classes`)
    const students = studentResponse.data.students
    const filteredList = students.filter(s => s.country).reduce((acc, cur) => {
      acc[cur.country] = acc[cur.country] ? acc[cur.country] + 1 : 1
      return acc
    }, {})
    const geo = []
    for (var key in filteredList) {
      geo.push([key, filteredList[key]])
    }
    return {
      history,
      geo,
      students,
      classes: classResponse.data.classes,
      headers: [
        { text: 'Name', align: 'left', sortable: true, value: 'name' },
        { text: 'Country', align: 'left', sortable: true, value: 'country' },
        { text: 'Email', align: 'left', sortable: true, value: 'email' },
        { text: 'Phone', align: 'left', sortable: true, value: 'phone' },
        { text: 'Join Date', align: 'left', sortable: true, value: 'joinDate' }
      ]
    }
  },
  async created() {
    await this.$store.dispatch('setStudents', this.students)
    await this.$store.dispatch('setClasses', this.classes)
  }
}
</script>
