<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="date"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="date"
          label="Picker in menu"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="$refs.menu.save(date);getAttendance(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>
      <v-card color="blue darken-2" dark>
        <v-card-title class="headline blue darken-1">Attendance</v-card-title>
        <v-card-text>Search for a student</v-card-text>
        <v-autocomplete
          v-model="searchModel"
          :items="items"
          :loading="isLoading"
          color="white"
          hide-no-data
          hide-selected
          item-text="Description"
          item-value="API"
          label="Name"
          placeholder="Start typing to Search"
          prepend-icon="mdi-database-search"
          return-object
        ></v-autocomplete>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn :disabled="!searchModel" color="red darken-3" @click="searchModel = null">
            Clear
            <v-icon right>mdi-close-circle</v-icon>
          </v-btn>
          <v-btn
            :disabled="!searchModel"
            color="green darken-3"
            @click="addStudent(searchModel, date)"
          >
            Add
            <v-icon right>mdi-close-circle</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <StudentList :students="students" @removeStudent="removeStudent($event)"/>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
import StudentList from '~/components/StudentList'

export default {
  data() {
    return {
      entries: [],
      isLoading: false,
      search: null,
      searchModel: null,
      date: new Date().toISOString().substr(0, 10),
      menu: false
    }
  },
  computed: {
    items() {
      return this.entries.map(entry => {
        const Description = entry.name
        return Object.assign({}, entry, { Description })
      })
    }
  },
  async asyncData({ params }) {
    let { data } = await axios.get(`/api/v1/students`)
    let today = new Date().toISOString().substr(0, 10)
    const attendanceResponse = await axios.get(`/api/v1/attendance`)
    let attendance = null
    let students = []
    if (attendanceResponse.data.records) {
      attendance = attendanceResponse.data.records.find(
        attendance => attendance.date == today
      )
      if (attendance && attendance.students) {
        students = attendance.students.map(id =>
          data.students.find(s => s.id === id)
        )
        data.students = data.students.filter(
          s => attendance.students.indexOf(s.id) === -1
        )
      }
    }
    return {
      entries: data.students,
      attendance,
      students
    }
  },
  watch: {
    async search(val) {
      if (this.items.length > 0 || this.isLoading) return
      this.isLoading = true

      let { data } = await axios.get(`/api/v1/students/search/${val}`)
      this.loading = false
      return data || ''
    }
  },
  methods: {
    async addStudent(student, date) {
      try {
        if (this.attendance && this.attendance.students) {
          this.attendance.students.push(student.id)
        } else {
          this.attendance = {
            name: 'Attendance from app',
            students: [student.id],
            date
          }
        }
        let response = await axios.post(
          `/api/v1/attendance/upsert`,
          this.attendance
        )
        if (response) {
          this.attendance = response.data.attendance
        }
        this.entries.splice(this.entries.findIndex(e => e.id == student.id), 1)
        this.students.push(Object.assign({}, student))
        this.searchModel = null
      } catch (err) {
        console.log(err)
        return
      }
    },
    async removeStudent(id) {
      this.students = this.students.filter(s => s.id != id)
      const studentResponse = await axios.get(`/api/v1/students`)
      this.attendance.students = this.students.map(s => s.id)
      let response = await axios.post(
        `/api/v1/attendance/upsert`,
        this.attendance
      )
      if (response) {
        this.attendance = response.data.attendance
        if (this.attendance && this.attendance.students) {
          this.entries = studentResponse.data.students.filter(
            s => this.attendance.students.indexOf(s.id) === -1
          )
        } else {
          this.entries = studentResponse.data.students
        }
      }
    },
    async getAttendance(date) {
      const attendanceResponse = await axios.get(`/api/v1/attendance`)
      const studentResponse = await axios.get(`/api/v1/students`)
      debugger
      let attendance = attendanceResponse.data.records.find(
        attendance => attendance.date == date
      )
      if (attendance && attendance.students) {
        this.students = attendance.students
          .map(id => studentResponse.data.students.find(s => s.id == id))
          .filter(s => s && s.id)
        this.attendance = attendance
      }
    }
  },
  components: {
    StudentList
  }
}
</script>
